.password-change {
  .heading {
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #9da9b3;
    font-weight: 700;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #F7F9FB;
    
  }
  .title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $dark-grey;
    margin: 2.8rem 0 0.8rem 0;
  }

  &-button {
    display: flex;
    align-items: center;
    .change-password-btn {
        font-size: 1.6rem;
        min-width: 20rem;
    }
    .text {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: $dark;
      
    }
  }
  @include mq(md) {
    .heading {
      font-size: 2.4rem;
      line-height: 2.4rem;
      width: 58vw;
    }
    &-button {
      .text {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-right: 15rem;
      }
    }
  }
}