.faq {
  &-content {
    padding: 4rem 0;
    border-top: 1px solid #DDE5EE;
    border-bottom: 1px solid #DDE5EE;
    &-item{
     display: flex;
     justify-content: space-between;
     align-items: center;
     cursor: pointer;
    }

    &-answers{
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 3.2rem;
      color: #6d7a98;
      margin-bottom: 3rem;
      padding-top: 2rem;
    
    }
    .question {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0.01em;
      color: #0b2253;
    }
    .arrow-btn{
     background-color: $transparent;
     border: none;
    }
    
  }
}
