.demo {
  margin-bottom: 10rem;
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $dark;
    }
    &-content {
      display: flex;
      .filter-btn {
        width: 9rem;
        height: 4rem;
        border: 1px solid #dde5ee;
        border-radius: 0.4rem;
        padding: 1.2rem 1.6rem;
        background-color: $transparent;
        margin-left: 1.6rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 0.4px;
        color: #3a434b;
        span {
          margin-left: 0.9rem;
        }
      }
    }
  }
}
