%label-colors {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  margin-right: 1.2rem;
}
.admin-home {
  margin-bottom: 10rem;
  &-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.2rem;
    &-item {
      height: 9.6rem;
      background: $grey;
      border-radius: 12px;
      padding: 2rem 0 0 2rem;
      cursor: pointer;
      &-value {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 100%;
        color: $dark;
        margin-bottom: 1.2rem;
      }
      &-title {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $dark-grey;
      }
    }
  }
  &-content {
    margin-top: 3.2rem;
    &-claim {
      height: 56rem;
      border: 1px solid #dde5ee;
      border-radius: 0.8rem;
      padding: 2rem;
      p {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: $dark;
      }
      .d-flex {
        display: flex;
        justify-content: space-between;
        a {
          color: $blue;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
    }
    &-insurance-distribution {
      height: 56rem;
      background: #ffffff;
      border: 1px solid #dde5ee;
      border-radius: 0.8rem;
      padding: 1.8rem 2rem;
      p {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: center;
        color: $dark;
      }
      .chart-container {
        position: relative;
        width: 20rem;
        height: 20rem;
        margin: 3.2rem auto;
        &::before {
          content: "100%";
          position: absolute;
          top: 7.5rem;
          right: 7rem;
          font-weight: 600;
          font-size: 2.4rem;
          line-height: 2.4rem;
          color: $dark;
        }
        &::after {
          content: "Insurance";
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.6rem;
          color: $dark-grey;
          position: absolute;
          top: 10rem;
          left: 6.8rem;
        }
      }
      .labels-container {
        &-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2.2rem;
          &-content {
            display: flex;
            align-items: center;
            .color {
              @extend %label-colors;
              color: #f3895f;
            }
          }
          .insurance-name {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $dark-grey;
            text-transform: capitalize;
          }
          .percentage {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $dark;
          }
        }
      }
    }
  }
}
