.search {
  position: relative;
  input {
    width: 38.5rem;
    height: 4rem;
    border: 1px solid #dde5ee;
    border-radius: 4px;
    padding: 1.2rem 1.6rem;
    &::placeholder {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.6rem;
      letter-spacing: -0.05px;
      color: #677684;
    }
  }
  &-btn {
    position: absolute;
    border: none;
    background: $transparent;
    width: 6rem;
    height: 3.5rem;
    top: -0.6rem;
    right: 0;
    svg {
        fill: #3A434B;
        position: absolute;
        @include on-event {
            fill: $blue;
        }
    }
  }
}
